#about{
  @media screen and ( min-width : 800px ) {
    overflow: hidden;
    main{
      overflow: hidden;
    }
    .circle__svg{
      .circlesWhite{
        animation: rotation 10s infinite 4s;
        height: 800px;
        width: initial;
        left: 48%;
        top: -10%;
        @media screen and ( min-height : 1000px ) {
          left: 51%;
          top: -5%;
        }
      }
    }
    .part__about{
      margin-top: initial;
      margin-left: initial;
      margin: auto;
      padding-right: 25vw;
    }.about__text{
      max-width: 764px;
      font-size: 18px;
      font-weight: 100;
    }
    h1{
      font-size: 94px;
      letter-spacing: 10px;
    }.portrait{
      @include hiddenViewport;
      position: absolute;
      top: 75%;
      right: 5%;
    }
    .portrait__of__cheik{
      display: inline;
      position: relative;
      margin-left: -300px;
      margin-top: -400px;
      @media screen and ( min-height : 1000px ) {
      position: relative;
      left: -100px;
      height: 700px;
      margin-top: -400px;
      }
    }
    .container__sphere{
      @include hiddenViewport ;
      position: absolute;
      top: 10%;
      left: 60%;
      @media screen and ( width : 1900px){
          -webkit-animation: rotation 4s infinite linear , sphereGoToCenter1080 10s ease-out forwards ,  rotationCircle 1s infinite;
          left: 64%;
        }
      }
      .sphere{
        margin-left: initial;
        margin-right: initial;
        position: absolute;
        width: 450px;
        height: 450px;
        animation: enlargement 10s cubic-bezier(.117,.167,.183,.167) 0s initial initial initial , 
        rotationCircle 30s cubic-bezier(.17,.67,.83,.67) 0s initial initial initial , 
        ;
      }
      .contact{
        margin-top: 5vh;
        max-width: 564px;
      }
    }

    #Ellipse_14{
      stroke-dasharray: 2760px;
      stroke-dashoffset: 2760px;
      animation: write 3s forwards ;
    }#Ellipse_15{
      stroke-dasharray: 31px;
      // animation: name duration timing-function delay iteration-count direction fill-mode;
      // stroke-dashoffset: 1991px;
      // animation: write 3s forwards ;
    }
  }