#about{
  @media screen and ( min-width : 800px ) {
    .circle__svg{
      top: 0%;
      right: -4%;
      .circlesWhite{
        height: 800px;
        width: initial;
      }
      @media screen and ( min-height : 1000px ) {
        right: -1%;
        top: 5%;
      }
    }
    .part__about{
      margin-top: initial;
      margin-left: initial;
      margin: auto;
      padding-right: 25vw;
    }
    h1{
      font-size: 94px;
      letter-spacing: 20px;
    }.portrait{
      @include hiddenViewport;
      position: absolute;
      top: 75%;
      right: 5%;
    }
    .portrait__of__cheik{
      display: inline;
      position: relative;
      margin-left: -300px;
      margin-top: -400px;
    }
    .container__sphere{
      @include hiddenViewport ;
      position: absolute;
      // top: 20%;
      right: 8%;
      @media screen and ( width : 1900px){
        -webkit-animation: rotation 4s infinite linear , sphereGoToCenter1080 10s ease-out forwards;
      }
    }
    .sphere{
      width: 450px;
      height: 450px;
    }
    .contact{
      margin-top: 10vh;
      max-width: 564px;
    }
  }
}