

////

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-BookOblique.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-BlackOblique.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-BlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Book.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-LightOblique.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Heavy.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Light.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Black.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-Oblique.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../assets/fonts/Avenir/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
      url('../assets/fonts/Avenir/AvenirLTStd-HeavyOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

