@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilkbold.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilkbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilklight.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilklight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilkbolditalic.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilkbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilkitalic.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilkitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilk.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../assets/fonts/LemonMilk/LemonMilklightitalic.woff2') format('woff2'),
      url('../assets/fonts/LemonMilk/LemonMilklightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}