////// menu burger mobile //////
.Menu__burger{
  z-index: 10;
  position: fixed;
  right: 10px;
  bottom: 10px;
  nav{
    img{
      height: 60px;
      width: 40px;
      margin: auto;
      display: block;
      transform: translateY(60px);
      opacity: 0;
      transition: opacity 60ms  ease-out 10ms , transform 100ms ;

      &.active{
        transition: opacity 0.3s ease-out 850ms , transform 100ms ease-out 900ms;
        opacity: 1;
        transform: translateY(10px);
      }
    }
  }
  li{
    transition: font-size 0.3s , width 0.7s 0.4s  ;
    border: solid rgb(255, 255, 255) 1px;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.527);
    font-size: 1px;
    display: block;
    width: 50px;
    height: 8px;
    margin: 2px 0px 2px;
    text-align: center;
    margin: 5px 0px 5px;
    transition: opacity 0.6s , font-size 0.5s , height  0.5s  , width 0.5s 0.5s ;
    &.active{
      transition: all 0.5s 0.4s ,font-size 0.5s 0.3s , width 0.5s  ;
      justify-items: center;
      border: solid rgb(255, 255, 255) 1px;
      color: rgb(255, 255, 255);
      background-color: rgba(0, 0, 0, 0.404);
      padding: 4px 0px 4px 0px;
      font-size: 16px;
      display: block;
      width: 94vw;
      height: 15px;
      margin: 10px 0px 10px;
    }
  }
}

////// nav barre //////

.Menu__burger{
  @media screen and ( min-width : 800px ) {
    right: 50px;
    top : 35px;
    nav{
      img{
        display: none;
        &.active{
          display: none;
        }
      }
    }
    ul{
      display: flex;
      width: 350px;
      justify-content: space-between;
      li{
        border: none;
        color: white;
        background-color: initial;
        font-size: 18px;
        display: block;
        width: initial;
        height: initial;
        margin: initial;
        font-weight: 100;

        &.active{
          transition: all 0.5s 0.4s ,font-size 0.5s 0.3s , width 0.5s  ;
          justify-items: center;
          border: none;
          color: white;
          background-color: initial;
          padding: initial;
          font-size: 18px;
          display: block;
          width: initial;
          height: initial;
          margin: initial;
        }
      }
    }
    
    
    
  }
}