@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes sphereGoToCenter {
  from{
    top: -150px;
  }
  to {
     top: 32.5vh;
  }
}

@keyframes sphereGoToCenter1080 {
  from{
    top: -150px;
  }
  to {
     top: 2.5vh;
  }
}

@keyframes rotationCircle {
  to{
    transform: rotate( 1turn );;
  }
  from{
    transform: rotate( 0turn );
  }
}




@keyframes blinkArmani {
  from {
    color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: $armani;
  }
  to {
    color: $armani;;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
}


@keyframes blinkso_comptoir {
  from {
    color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: $comptoir;
  }
  to {
    color: $comptoir;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
}

@keyframes blinkInvaders {
  from {
    color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
  }
  to {
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
}

@keyframes circleGoCenter {
  from{
    top: -150px;
  }
  to {
    top: 200px;
  }
}

@keyframes enterLeft {
  from{
    opacity: 0.5;
    transform: translateX(-100vw)
  }
  to {
    opacity: 1;
    transform: translateX(0vw)
  }
}

@keyframes enterRight  {
  from{
    opacity: 0.5;
    transform: translateX(-100vw)
  }
  to {
    opacity: 1;
    transform: translateX(0vw)
  }
}



@keyframes write {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes rotationCircle {
  100% {
    transform: rotate( 1turn );
  }
}



@keyframes retractation {
  from{
    display : none;
    transform: scale( 1 , 1 )  rotate( 0turn ) ;
  }
  50%{
    transform: scale(0.5 , 0.5)  rotate( 0.5turn ) ;
  }70%{

    transform: scale( 1 , 1 ) rotate( 1turn );
  }
  100%{

    transform: scale( 1 , 1 ) rotate( 1turn );
  }
}

@keyframes enlargement {
  to{
    transform: scale( 1 );
  }
  from{
    transform: scale( 0.4 );
  }
}
